<div class="container">
    <h1>Behold, the albums!</h1>
    {{#each albums}}
    <div class="row">
        {{#each images}}
        <img src={{url}}>
        {{/each}}
        <h1>{{name}}</h1>
        <button><a href="/tracks/{{id}}">View Tracks</a></button>
        {{/each}}
    </div>
</div>