<section class="home-page">
    <div class="form-align">
<form action="/artist-search" method="GET"> {{!-- a rota para onde se vai --}}
    <input type="text" name="theArtistName" placeholder="Search..." />
    <button type="submit">Search for an Artist</button>
</form>
</div>
</section>