<div class="container">
    <h1>The tracks of this specific album!</h1>
    <h2>Title</h2>
    {{#each tracks}}
    <p>{{name}}</p>
    <audio controls src="{{preview_url}}"></audio>
    {{/each}}
</div>
</div>