.home-page {
  background-image: url("/images/spotify-background.jpeg");
  background-size: cover;
  height: 60rem;
}

.form-align {
  position: absolute;
  top: 25rem;
  left: 33rem;
  padding: 5rem;
  background-color: rgba(250, 250, 250, 0.3);
}

.form-align button {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: red;
    border: none;
}